* {
    padding: 0;
    margin: 0;
    max-width:100%;
}

body {
  
    background: radial-gradient(circle at center, #f8f9f6 , #a2aa83)
    
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 5px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}
nav li{
    display: inline-block;
    margin-right: 20px;
}
.navbar ul li a{
    text-decoration: none;
    color:gray;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px whitesmoke;
}
a{
    text-decoration: none;
    color: grey;
    font-size: larger;
}
p{
    color: grey;

}
.offline-message {
    background-color: #ff4d4d;  
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    display: block; 
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
} 
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
    border-radius: 10%;
     

}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;

}
.btn{
    display: inline-block;
    background-color: coral;
    color: #f8f9f6;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 2s;
    
}
.header{
    background-color: #a2aa83;
}
.btn:hover{
    background: #e63605;
    color: #f8f9f6;

}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 90%;
}
.small-container{
    max-width: 1080;
    max-width: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: 1s;
}


.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: gray;
}
.title::after{
    content: '';
    background: coral;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.rating .fa{
    color: orange;
}
.col-4:hover{
    transform: translateY(-20px);
}
footer img {
    width: 30px;
    height: 20px;
    padding: 0px;
    float: right;
}
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 20px;
    padding: 70px 0 30px;
}
body{
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.theme-switcher-container{
    text-align: center;
    margin-top: 20px;
}

body.dark-theme{
    background-color: #2c2c2c;
    color: #f1f1f1;
}
body.small-font{
    font-size: 12px;
}
body.medium-font{
    font-size: 16px;
}
body.large-font{
    font-size: 20px
}
button { background-color: #4CAF50; 
     color: white; 
     padding: 10px 20px; 
     font-size: 14px; 
     cursor: pointer;  
     border: none; 
     border-radius: 5px; 
     margin: 5px; 
     display: inline-flex; 
     align-items: center; 
     justify-content: center; 
     transition: background-color 0.3s, transform 0.3s; 
    }  
    button:hover { 
        background-color: #45a049; 
        transform: translateY(-2px);
    }
    